@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}


/* Media Query */
@media (min-width: 300px) {

    body {
        padding: 3%;
    }

    /* to mke a space between each section */
    section {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    section h2 {
        width: 90%;
        color: navy;
        font-size: 40px;
        font-weight: bold;
        border-bottom: 2px solid navy;
    }

    .skills {
        display: flex;
        flex-direction: column;
        padding: 3%;
    }

    /* It should be an id for this one, be careful */
    #skills > div > aside {
        width: 18vh;
        height: 20vh;
        padding: 15%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .skills > p {
        padding: 10% 3% 10% 3%;
    }

    #html5 > aside {
        background: url(/image/html.png);
        
    }

    #css > aside {
        background: url(/image/css.PNG);
    }

    /*
    #css {
        flex-direction: row-reverse;
    }
    */

    #javascript > aside {
        background: url(/image/javascript.png);
    }

    .education {
        display: flex;
        flex-direction: column;
        row-gap: 5vh; /* to seperate the top-bottom gap between the div of school */
    }

    /* no need to type over & over in other asides */
    .education aside {
        width: 50vh;
        height: 15vh;
    }
    
    #tamwood-card > aside {
        background: url(/image/Tamwood.png);  
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #chula-card > aside {
        background: url(/image/Chula.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #seoul-card > aside {
        background: url(/image/Seoul.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #unam-card > aside {
        background: url(/image/Unam.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .card {
        align-items: center; /* align in X axis*/
        padding: 2%;
    }

    .btn {
        color: white;
        font-weight: 600;
        background-color: navy;
    }

    .btn:hover {
        background-color: steelblue;
    }

    .contact [type="text"], [type="email"], textarea {
        width: 95%;
        padding: 2%;
    }

    .contact > form > [class="d-flex"] {
        justify-content: space-evenly;
    }

    .footer {
        background-color: navy;
        color: white;
        padding: 8%;
        text-align: center;
    }

    .footer > span {
        font-weight: bolder;
    }

}

/*
1 - Plan the sections from your page
    a) Footer
    b) Contact
    c) Education
    d) Skills
    e) Projects
    f) About
    g) Header
*/

/***/